.navbar{
  background-color: #42b0d6;
  height: 60px;
}



.btn .btn-primary  {
    color: #fff;
    background-color: #42b0d6;
    border-color: #42b0d6; /*set the color you want here*/
}
.btn .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #389abb;
    border-color: #389abb; /*set the color you want here*/
}